*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

.clearfix::after{
  content: ' ';
  display: table;
  clear: both;
}

a{
  text-decoration: none;
  color: black;
}

.main-text{
  font-size: 1.4rem;
}

.btn-full-w{
  text-align: center;
  display: block;
  padding: 10px 30px;
  font-size: 1.1rem;
  color: white;
  background-color: #0061ff;
}

.btn-blue{
  padding: 18px 20px;
  font-size: 1.3rem;
  color: white;
  background-color: #0061ff;
}

.txt-blue{
  color: #0061ff;
}

.line{
  width: 100px;
  height: 1px;
  margin: 50px 0;
}

.section{
  width: 100%;
  min-height: 700px;
  margin: 0 auto;
  background-color: aquamarine;
  border: 1px solid black;
}

.container80{
  width: 80%;
  min-height: 700px;
  margin: 0 auto;
}

.container90{
  width: 80%;
  min-height: 700px;
  margin: 0 auto;
}

.debug{
  min-height: 300px;
  background-color: blueviolet;
  border: 1px solid black;
}

.debug-c9080{
  background-color: rgb(201, 105, 41);
  border: 1px solid black;
}

.col30{
  float: left;
  width: calc(100% / 3);
}



.col60{
  float: left;
  width: calc(100% / 5 * 3);
  

}

.col40{
  float: left;
  width: calc(100% / 5 * 2);
  

}

.row-full-w{
  float: left;
  width: 100%;
}

.col-footer50{
  float: left;
  width: calc(100% / 5);
  min-height: 200px;
 
}


