/* HEADER */

header{
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100px;
  background-color: white;
}

.nav-col{
  float: left;
  width: calc(100% / 2);
  height: 100%;
  line-height: 100px;
}

.nav-col.left img{
  padding-left: 25px;
}

.nav-col.left .logo{
  margin-right: 50px;
}

.nav-col.left .logo, .nav-menu{
  display: inline-block;
}

.nav-col.right{
 text-align: right;
 padding-right: 15px;
}

.btn-nav{
  padding: 10px 20px;
}

/* JUMBO */

.jumbotron::before{
  content: ' ';
  display: block;
  height: 100px;
}

.jumbotron{
  margin-bottom: 250px;
  background-color: #b4d0e7;
}

.jumbotron .section{
  height: 900px;
}

.jumbotron .col40{
  padding-top: 60px;
  padding-right: 70px;
}

.jumbotron .col60{
  padding-top: 60px;
}

.jumbotron .col40 a{
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 15px;
  padding: 15px 25px;
  font-size: 1.3rem;
}

.jumbotron i{
  font-size: 3rem;
  margin: 50px auto;
}

.jumbotron .col60 img{
 width: 114%;
}

/* MAIN */

/* abbonamenti */


/* contatto */

.contatto .col50.right{
  padding: 60px 0 0 60px;
}

.contatto .col50 img{
  width: 100%;
}

.contatto .col50.right .main-text{
  line-height: 2.4rem;
  margin: 50px 0;
}

.contatto .col50.right .btn-white{
  border: 1px solid black;
  box-shadow: 0px -2px black;
}


/* .contatto .col60{
  background-image: url(../img/partner.png);
  background-size: cover;
  background-position: center;
} */





/* partner */

.partner .top a{
  display: inline-block;
  font-size: 1.4rem;
  text-decoration: underline;
  margin-bottom: 70px;
}

/* partner-center */




/* partner-bottom */
.section.partner .bottom h2{
  color: #61082b;
  margin:0;
}

.partner .bottom{
  padding: 90px;
  background-color: #b4d0e7;
}

.partner .bottom .col50.left{
  padding-right: 30px;
}

.partner .bottom .col50.right{
  text-align: center;
}

.partner .bottom .col50.right .btn-white{
  padding: 13px 100px;
  font-weight: bold;
}

/* img partner */

.partner .col20-partner img{
  width: 100%;
}

/* faq */



.section.faq .row{
  width: 100%;
  position: relative;
  border-bottom: 2px solid #e6e8eb;
  line-height: 100px
}

.faq .row .chevon{
  position: absolute;
  right: 0;
  top: 0;
  height: 100px;
  width: 100px;
  text-align: center;
}

.faq .row-top{
  border-top: 2px solid #e6e8eb;
}

.faq .row-bottom{
  border-bottom: 2px solid #e6e8eb;
}

.faq h3{
  margin-bottom: 70px;
}


/* FOOTER */

footer .section{
  background-color: #000000;
  color: white;
}

footer h5{
  margin-bottom: 25px;
}

footer ul li a{
  font-size: 1.1rem;
  display: block;
  color: white;
  margin: 10px auto;
}

footer .line{
  margin-top: 100px;
  background-color: white;
  width: 130px;
}

footer i{
  margin-left: 5px;
  font-size: 0.8rem;
}