/* HEADER */
nav ul li{
  display: inline-block;
  list-style: none;
  margin-right: 35px;
  font-size: 1.3rem;
  font-weight: bold;
}

ul li{
  list-style: none;
}

ul li i{
  margin-right: 10px;
}



/* JUMBO */

.jumbotron .row-full-w{
  padding-top: 130px;
} 

h1{
  font-size: 6rem;
}

h2{
  font-size: 3.5rem;
  margin-bottom: 70px;
}

h3{
  font-size: 2.5rem;
  font-weight: bold;
}

h4{
  font-size: 1.5rem;
  font-weight: bold;
}

h5{
  font-size: 1.5rem;
  font-weight: bold; 
}

/* MAIN */
.margin35{
  display: inline-block;
  margin: 50px 0;
}
/* abbonamenti */






/* FOOTER */